.list {
  display: flex;
  border-bottom: 1px dashed;
  padding: 16px 6px 14px 10px;
}
.list:hover {
  background: #eee;
}
.todo-list {
  width: 500px;
}
.done-list {
  width: 500px;
  text-decoration: line-through;
}
.list-date {
  font-weight: 600;
  margin-right: 7px;
}
.list-btn {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}
.list-btn:hover {
  opacity: 0.5;
}
